@import "tailwindcss";

/* =========================
   Brand Fonts
========================= */

:root {
  --font-heading: "Paytone One", sans-serif;
  --font-body: "Poppins", sans-serif;
  --font-button: "Source Sans 3", sans-serif;
}

/* =========================
   Base Typography
========================= */

/* Red Main Headings */
h1, h2, h3 , h4, h5, h6 {
  font-family: var(--font-heading);
  color: #DC2227;
}

/* Paragraph Text */
p {
  font-family: var(--font-body);
}